version: '3.9'

services:
  mongo:
    image: mongo:7
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    env_file:
      - ./server/.env.example
    ports:
      - '5000:5000'
    depends_on:
      - mongo

  client:
    build: ./client
    env_file:
      - ./client/.env.example
    ports:
      - '5173:80'
    depends_on:
      - server

volumes:
  mongo_data:
